In [1]:
import os
from glob import glob # extract path of each file
import pandas as pd # data preprocessing

from xml.etree import ElementTree as et # parse information from XML
from functools import reduce

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#  get path of each xml file for ambulance data set labelled by labelIg
xmlfiles = glob('./vechles_dataset./ambulance/*.xml')
# replace \\ with /
replace_text = lambda x: x.replace('\\','/')
xmlfiles = list(map(replace_text,xmlfiles))

In [4]:
xmlfiles

['./vechles_dataset./ambulance/002397_02.xml',
 './vechles_dataset./ambulance/002431_05.xml',
 './vechles_dataset./ambulance/002494_04.xml',
 './vechles_dataset./ambulance/002547_03.xml',
 './vechles_dataset./ambulance/002590_18.xml',
 './vechles_dataset./ambulance/002624_17.xml',
 './vechles_dataset./ambulance/002686_02.xml',
 './vechles_dataset./ambulance/002717_00.xml',
 './vechles_dataset./ambulance/002964_18.xml',
 './vechles_dataset./ambulance/003025_04.xml',
 './vechles_dataset./ambulance/003186_05.xml',
 './vechles_dataset./ambulance/003320_04.xml',
 './vechles_dataset./ambulance/003507_17.xml',
 './vechles_dataset./ambulance/003531_17.xml',
 './vechles_dataset./ambulance/003574_02.xml',
 './vechles_dataset./ambulance/003698_02.xml',
 './vechles_dataset./ambulance/003713_09.xml',
 './vechles_dataset./ambulance/003785_01.xml',
 './vechles_dataset./ambulance/003903_18.xml',
 './vechles_dataset./ambulance/003927_17.xml',
 './vechles_dataset./ambulance/004006_01.xml',
 './vechles_dataset./ambulance/004220_02.xml',
 './vechles_dataset./ambulance/004249_10.xml',
 './vechles_dataset./ambulance/004506_17.xml',
 './vechles_dataset./ambulance/004580_00.xml',
 './vechles_dataset./ambulance/004735_17.xml',
 './vechles_dataset./ambulance/004752_05.xml',
 './vechles_dataset./ambulance/004785_17.xml',
 './vechles_dataset./ambulance/004990_09.xml',
 './vechles_dataset./ambulance/005035_17.xml',
 './vechles_dataset./ambulance/005202_18.xml',
 './vechles_dataset./ambulance/005273_17.xml',
 './vechles_dataset./ambulance/005373_01.xml']

In [5]:
#  read xml files
# from each xml file we need to extract
# filename, size(width, height), object(name, xmin, xmax, ymin, ymax)
def extract_text(filename):
    tree = et.parse(filename)
    root = tree.getroot()

    # extract filename
    image_name = root.find('filename').text
    # width and height of the image
    width = root.find('size').find('width').text
    height = root.find('size').find('height').text
    obj = root.find('object')
    parser = []
    
    name = obj.find('name').text
    bndbox = obj.find('bndbox')
    xmin = bndbox.find('xmin').text
    xmax = bndbox.find('xmax').text
    ymin = bndbox.find('ymin').text
    ymax = bndbox.find('ymax').text
    parser.append([image_name, width, height, name,xmin,ymin,xmax,ymax])
        
    return parser

In [6]:
parser_all = list(map(extract_text,xmlfiles))
parser_all

[[['002397_02.jpg', '3226', '2534', 'ambulance', '73', '83', '3184', '2375']],
 [['002431_05.jpg', '1419', '1219', 'ambulance', '19', '42', '1391', '1139']],
 [['002494_04.jpg', '1782', '1903', 'ambulance', '27', '18', '1755', '1882']],
 [['002547_03.jpg', '2230', '1336', 'ambulance', '42', '11', '2179', '1314']],
 [['002590_18.jpg', '2304', '1796', 'ambulance', '38', '90', '2174', '1615']],
 [['002624_17.jpg', '1383', '1188', 'ambulance', '237', '33', '1350', '1156']],
 [['002686_02.jpg', '760', '671', 'ambulance', '20', '32', '754', '628']],
 [['002717_00.jpg', '2806', '2919', 'ambulance', '36', '46', '2779', '2852']],
 [['002964_18.jpg', '1789', '1042', 'ambulance', '14', '19', '1695', '1042']],
 [['003025_04.jpg', '929', '982', 'ambulance', '15', '34', '905', '975']],
 [['003186_05.jpg', '517', '400', 'ambulance', '4', '6', '505', '389']],
 [['003320_04.jpg', '322', '360', 'ambulance', '10', '8', '307', '353']],
 [['003507_17.jpg', '2395', '1139', 'ambulance', '69', '12', '2388', '1128']],
 [['003531_17.jpg', '1649', '1498', 'ambulance', '17', '73', '1641', '1400']],
 [['003574_02.jpg', '2061', '1873', 'ambulance', '41', '54', '1961', '1860']],
 [['003698_02.jpg', '2239', '1698', 'ambulance', '134', '41', '2072', '1660']],
 [['003713_09.jpg', '982', '674', 'ambulance', '13', '38', '978', '659']],
 [['003785_01.jpg', '3044', '2404', 'ambulance', '87', '181', '2887', '2276']],
 [['003903_18.jpg', '3039', '2026', 'ambulance', '38', '208', '2983', '1878']],
 [['003927_17.jpg', '1797', '1610', 'ambulance', '16', '79', '1752', '1591']],
 [['004006_01.jpg', '1341', '828', 'ambulance', '33', '43', '1238', '810']],
 [['004220_02.jpg', '2510', '1587', 'ambulance', '27', '44', '2378', '1567']],
 [['004249_10.jpg', '2945', '1685', 'ambulance', '56', '12', '2889', '1632']],
 [['004506_17.jpg', '1431', '1403', 'ambulance', '78', '172', '1374', '1328']],
 [['004580_00.jpg', '2807', '2403', 'ambulance', '9', '177', '2689', '2380']],
 [['004735_17.jpg', '1781', '775', 'ambulance', '57', '5', '1761', '761']],
 [['004752_05.jpg', '2936', '1823', 'ambulance', '41', '144', '2878', '1807']],
 [['004785_17.jpg', '175', '226', 'ambulance', '6', '10', '175', '212']],
 [['004990_09.jpg', '1132', '1270', 'ambulance', '36', '58', '1091', '1170']],
 [['005035_17.jpg', '1584', '1370', 'ambulance', '33', '11', '1582', '1342']],
 [['005202_18.jpg', '2147', '2137', 'ambulance', '109', '40', '1974', '2093']],
 [['005273_17.jpg', '4323', '2711', 'ambulance', '51', '88', '4227', '2708']],
 [['005373_01.jpg', '2067', '976', 'ambulance', '6', '3', '2043', '930']]]

In [7]:
data = reduce(lambda x, y : x+y,parser_all)
data

[['002397_02.jpg', '3226', '2534', 'ambulance', '73', '83', '3184', '2375'],
 ['002431_05.jpg', '1419', '1219', 'ambulance', '19', '42', '1391', '1139'],
 ['002494_04.jpg', '1782', '1903', 'ambulance', '27', '18', '1755', '1882'],
 ['002547_03.jpg', '2230', '1336', 'ambulance', '42', '11', '2179', '1314'],
 ['002590_18.jpg', '2304', '1796', 'ambulance', '38', '90', '2174', '1615'],
 ['002624_17.jpg', '1383', '1188', 'ambulance', '237', '33', '1350', '1156'],
 ['002686_02.jpg', '760', '671', 'ambulance', '20', '32', '754', '628'],
 ['002717_00.jpg', '2806', '2919', 'ambulance', '36', '46', '2779', '2852'],
 ['002964_18.jpg', '1789', '1042', 'ambulance', '14', '19', '1695', '1042'],
 ['003025_04.jpg', '929', '982', 'ambulance', '15', '34', '905', '975'],
 ['003186_05.jpg', '517', '400', 'ambulance', '4', '6', '505', '389'],
 ['003320_04.jpg', '322', '360', 'ambulance', '10', '8', '307', '353'],
 ['003507_17.jpg', '2395', '1139', 'ambulance', '69', '12', '2388', '1128'],
 ['003531_17.jpg', '1649', '1498', 'ambulance', '17', '73', '1641', '1400'],
 ['003574_02.jpg', '2061', '1873', 'ambulance', '41', '54', '1961', '1860'],
 ['003698_02.jpg', '2239', '1698', 'ambulance', '134', '41', '2072', '1660'],
 ['003713_09.jpg', '982', '674', 'ambulance', '13', '38', '978', '659'],
 ['003785_01.jpg', '3044', '2404', 'ambulance', '87', '181', '2887', '2276'],
 ['003903_18.jpg', '3039', '2026', 'ambulance', '38', '208', '2983', '1878'],
 ['003927_17.jpg', '1797', '1610', 'ambulance', '16', '79', '1752', '1591'],
 ['004006_01.jpg', '1341', '828', 'ambulance', '33', '43', '1238', '810'],
 ['004220_02.jpg', '2510', '1587', 'ambulance', '27', '44', '2378', '1567'],
 ['004249_10.jpg', '2945', '1685', 'ambulance', '56', '12', '2889', '1632'],
 ['004506_17.jpg', '1431', '1403', 'ambulance', '78', '172', '1374', '1328'],
 ['004580_00.jpg', '2807', '2403', 'ambulance', '9', '177', '2689', '2380'],
 ['004735_17.jpg', '1781', '775', 'ambulance', '57', '5', '1761', '761'],
 ['004752_05.jpg', '2936', '1823', 'ambulance', '41', '144', '2878', '1807'],
 ['004785_17.jpg', '175', '226', 'ambulance', '6', '10', '175', '212'],
 ['004990_09.jpg', '1132', '1270', 'ambulance', '36', '58', '1091', '1170'],
 ['005035_17.jpg', '1584', '1370', 'ambulance', '33', '11', '1582', '1342'],
 ['005202_18.jpg', '2147', '2137', 'ambulance', '109', '40', '1974', '2093'],
 ['005273_17.jpg', '4323', '2711', 'ambulance', '51', '88', '4227', '2708'],
 ['005373_01.jpg', '2067', '976', 'ambulance', '6', '3', '2043', '930']]

In [8]:
df_ambu = pd.DataFrame(data,columns = ['filename','width','height','class','xmin','ymin','xmax','ymax'])
df_ambu.head()

        filename width height      class xmin ymin  xmax  ymax
0  002397_02.jpg  3226   2534  ambulance   73   83  3184  2375
1  002431_05.jpg  1419   1219  ambulance   19   42  1391  1139
2  002494_04.jpg  1782   1903  ambulance   27   18  1755  1882
3  002547_03.jpg  2230   1336  ambulance   42   11  2179  1314
4  002590_18.jpg  2304   1796  ambulance   38   90  2174  1615

In [9]:
df_ambu['class'].value_counts()

class
ambulance    33
Name: count, dtype: int64

In [10]:
#  read annotation csv file of other vechles 
df_vechles = pd.read_csv('./vechles_dataset./vechle1/_annotations_01.csv')
df_vechles.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,005247_02_jpg.rf.1fc43c7713f18f084cc62a9d0871a...,640,640,motercycle,25,52,640,640
1,005247_02_jpg.rf.1fc43c7713f18f084cc62a9d0871a...,640,640,car,556,411,640,561
2,004835_10_jpg.rf.1dfd07dc6ed2d8938a3b12f1227cc...,640,640,bus,17,0,620,639
3,004835_10_jpg.rf.1dfd07dc6ed2d8938a3b12f1227cc...,640,640,car,578,268,640,455
4,004428_09_jpg.rf.201529ab10170c54b6e3142aa4a80...,640,640,motercycle,0,2,640,638

In [11]:
# combining or  both data sets
frames = [df_ambu,df_vechles]
df = pd.concat(frames)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1556 entries, 0 to 1522
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  1556 non-null   object
 1   width     1556 non-null   object
 2   height    1556 non-null   object
 3   class     1556 non-null   object
 4   xmin      1556 non-null   object
 5   ymin      1556 non-null   object
 6   xmax      1556 non-null   object
 7   ymax      1556 non-null   object
dtypes: object(8)
memory usage: 109.4+ KB

In [13]:
# type conversion
cols = ['width','height','xmin','xmax','ymin','ymax']
df[cols] = df[cols].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1556 entries, 0 to 1522
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  1556 non-null   object
 1   width     1556 non-null   int32
 2   height    1556 non-null   int32
 3   class     1556 non-null   object
 4   xmin      1556 non-null   int32
 5   ymin      1556 non-null   int32
 6   xmax      1556 non-null   int32
 7   ymax      1556 non-null   int32
dtypes: int32(6), object(2)
memory usage: 72.9+ KB

#### Conversion
![alt text](download.png)

In [14]:
# center x, center y
df['center_x'] = ((df['xmax']+df['xmin'])/2)/df['width']
df['center_y'] = ((df['ymax']+df['ymin'])/2)/df['height']
# w 
df['w'] = (df['xmax']-df['xmin'])/df['width']
# h 
df['h'] = (df['ymax']-df['ymin'])/df['height']

In [15]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,center_x,center_y,w,h
0,002397_02.jpg,3226,2534,ambulance,73,83,3184,2375,0.504805,0.485004,0.964352,0.904499
1,002431_05.jpg,1419,1219,ambulance,19,42,1391,1139,0.496829,0.484413,0.966878,0.899918
2,002494_04.jpg,1782,1903,ambulance,27,18,1755,1882,0.500000,0.499212,0.969697,0.979506
3,002547_03.jpg,2230,1336,ambulance,42,11,2179,1314,0.497982,0.495883,0.958296,0.975299
4,002590_18.jpg,2304,1796,ambulance,38,90,2174,1615,0.480035,0.474666,0.927083,0.849109

### split data into train and test

In [23]:
images = df['filename'].unique()
len(images)

1364

In [24]:
# 80% train and 20% test
img_df = pd.DataFrame(images,columns=['filename'])
img_train = tuple(img_df.sample(frac=0.8)['filename'])# shuffle and pick 80% of images

In [25]:
img_test = tuple(img_df.query(f'filename not in {img_train}')['filename'])# take rest 20% images

In [26]:
len(img_train), len(img_test)

(1091, 273)

In [27]:
train_df = df.query(f'filename in {img_train}')
test_df = df.query(f'filename in {img_test}')

In [28]:
train_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,center_x,center_y,w,h
0,002397_02.jpg,3226,2534,ambulance,73,83,3184,2375,0.504805,0.485004,0.964352,0.904499
1,002431_05.jpg,1419,1219,ambulance,19,42,1391,1139,0.496829,0.484413,0.966878,0.899918
3,002547_03.jpg,2230,1336,ambulance,42,11,2179,1314,0.497982,0.495883,0.958296,0.975299
4,002590_18.jpg,2304,1796,ambulance,38,90,2174,1615,0.480035,0.474666,0.927083,0.849109
5,002624_17.jpg,1383,1188,ambulance,237,33,1350,1156,0.573753,0.500421,0.804772,0.945286

In [29]:
test_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,center_x,center_y,w,h
2,002494_04.jpg,1782,1903,ambulance,27,18,1755,1882,0.500000,0.499212,0.969697,0.979506
7,002717_00.jpg,2806,2919,ambulance,36,46,2779,2852,0.501604,0.496403,0.977548,0.961288
8,002964_18.jpg,1789,1042,ambulance,14,19,1695,1042,0.477641,0.509117,0.939631,0.981766
12,003507_17.jpg,2395,1139,ambulance,69,12,2388,1128,0.512944,0.500439,0.968267,0.979807
14,003574_02.jpg,2061,1873,ambulance,41,54,1961,1860,0.485687,0.510945,0.931587,0.964229

### Assign id number to object names

In [32]:
def label_encoding(x):
    labels = {'car':0,'motercycle':1,'bus':2,'ambulance':3}
    return labels[x]

In [35]:
train_df['id'] = train_df['class'].apply(label_encoding)
test_df['id'] = test_df['class'].apply(label_encoding)

### Save Image and Labels in text

In [38]:
import os
from shutil import move

In [48]:
train_folder = 'vechles_dataset/train'
test_folder =  'vechles_dataset/test'

In [40]:
cols = ['filename','id','center_x','center_y', 'w', 'h']
groupby_obj_train = train_df[cols].groupby('filename')
groupby_obj_test = test_df[cols].groupby('filename')

In [41]:
#groupby_obj_train.get_group('000009.jpg').set_index('filename').to_csv('sample.txt',index=False,header=False)
# save each image in train/test folder and repective labels in .txt
def save_data(filename, folder_path, group_obj):
    # move image
    src = os.path.join('vechles_dataset',filename)
    dst = os.path.join(folder_path,filename)
    move(src,dst) # move image to the destination folder
    
    # save the labels
    text_filename = os.path.join(folder_path,
                                 os.path.splitext(filename)[0]+'.txt')
    group_obj.get_group(filename).set_index('filename').to_csv(text_filename,sep=' ',index=False,header=False)

In [42]:
filename_series = pd.Series(groupby_obj_train.groups.keys())

In [43]:
filename_series.apply(save_data,args=(train_folder,groupby_obj_train))

0       None
1       None
2       None
3       None
4       None
        ...
1086    None
1087    None
1088    None
1089    None
1090    None
Length: 1091, dtype: object

In [45]:
filename_series_test = pd.Series(groupby_obj_test.groups.keys())

In [49]:
filename_series_test.apply(save_data,args=(test_folder,groupby_obj_test))

0      None
1      None
2      None
3      None
4      None
       ...
268    None
269    None
270    None
271    None
272    None
Length: 273, dtype: object